{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Entry list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Creator</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td><a href="{{ path('entry_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                    <td>{{ entity.creator }}</td>
                    <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('entry_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('entry_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                            <li>
                                <a href="{{ path('entry_delete', { 'id': entity.id }) }}">delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entry_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
