{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ event.name }}</h1>
    <a href="{{ path('ticker', {id: event.id}) }}">Reload</a>

    <div class="row">
        <table class="table" id="entries">
            {% for entry in entries %}
                <tr>
                    <td rowspan="2">{{ entry.created|date('H:i:s') }}</td>
                    <td><b>{{ entry.title }}</b></td>
                </tr>
                <tr>
                    <td>
                        {{ entry.message|nl2br }}
                    </td>
                </tr>
            {% else %}
                <tr id="empty">
                    <td colspan="2">No Entry found</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            var conn = new WebSocket('ws://localhost:9876/ticker/{{ event.id }}');
            conn.onopen = function(e) {
                console.log("Connection established!");
            };

            conn.onmessage = function(e) {
                var entry = JSON.parse(e.data);

                $('#empty').remove();
                $('#entries').prepend([
                    '<tr>',
                    '<td rowspan="2">', entry.date, '</td>',
                    '<td><b>', entry.title, '</b></td>',
                    '</tr>',
                    '<tr>',
                    '<td>',
                    entry.message,
                    '</td>',
                    '</tr>'
                ].join(''));
            };
        });
    </script>
{% endblock %}
