{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ event.name }}</h1>
    <a href="{{ path('ticker', {id: event.id}) }}">Reload</a>

    <div class="row">
        <table class="table">
            {% for entry in entries %}
                <tr>
                    <td rowspan="2">{{ entry.created|date('H:i:s') }}</td>
                    <td><b>{{ entry.title }}</b></td>
                </tr>
                <tr>
                    <td>
                        {{ entry.message|nl2br }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>No Entry found</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
